* {
  font-family: "Roboto", sans-serif;
}
body {
  padding: 5px;
  background-image: url(https://png.pngtree.com/thumb_back/fw800/background/20210303/pngtree-maple-leaf-magazine-portfolio-background-picture-image_574724.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

#foto {
  /* border: 1px solid red; */
  border-radius: 30%;
}

#distracao {
  text-decoration: none;
  color: aqua;
}

#projetos a {
  color: black;
}
